# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [15]:
data = pd.read_csv("../output_data/cities.csv")
data.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Tilichiki,60.4667,166.1000,58.59,63,71,15.52,RU,1627425893
1,1,Hermanus,-34.4187,19.2345,55.80,75,88,15.70,ZA,1627425434
2,2,Isangel,-19.5500,169.2667,75.31,69,40,3.44,VU,1627425895
3,3,Hobart,-42.8794,147.3294,55.26,82,40,5.01,AU,1627425435
4,4,Tegul'det,57.3064,88.1667,50.85,91,29,0.13,RU,1627425898
...,...,...,...,...,...,...,...,...,...,...
95,95,Pacifica,37.6138,-122.4869,97.74,75,40,7.00,US,1627425723
96,96,Castro,-24.7911,-50.0119,48.38,93,100,6.78,BR,1627425653
97,97,Shar,49.5886,81.0453,57.16,54,0,7.02,KZ,1627426022
98,98,Coquimbo,-29.9533,-71.3436,55.13,82,0,6.91,CL,1627426023
99,99,Kez,57.8979,53.7152,46.27,80,24,5.28,RU,1627426024

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [ ]:
# Configure gmaps

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure